@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Bold.ttf"),
         url("../fonts/Roboto-Bold.woff"),
         url("../fonts/Roboto-Bold.woff2");
    font-weight: 900;
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Regular.ttf"),
         url("../fonts/Roboto-Regular.woff"),
         url("../fonts/Roboto-Regular.woff2");
}
@font-face {
    font-family: 'Roboto';
    src: url("../fonts/Roboto-Medium.ttf"),
         url("../fonts/Roboto-Medium.woff"),
         url("../fonts/Roboto-Medium.woff2");
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    padding-top: 25px;
    font-family: "Roboto";
}
img {
    display: inline-block;
}
.container {
    width: 1480px;
    margin:0 auto;
    padding:0 20px;
}
.wallet-container {
    display: flex;
    justify-content: center;
    width: 1480px;
    height:720px;
    padding-top: 90px;
    border-radius:5px;
    background-color: chocolate;
}
/*-----MAIN-BODY--*/
.wallet {
    display: flex;
    width:800px;
    margin-bottom: 250px;
    border-radius: 5px;
    background-color: white;
}

/*---my-cards-section--*/
.my-card {
    margin: 0;
    padding: 25px;
    width: 300px;
    overflow:auto;
    background-color:rgba(219, 223, 222, 0.993);
}
.my-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 20px;
}
.card-title {
    margin: 0;
    padding: 0;
    font-size: 25px;
}
.plus-icon {
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: bolder;

}

/*--my-cards-main---*/
.my-card::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgb(231, 221, 221);
}
.my-card::-webkit-scrollbar {
    width: 8px;
}
.my-card::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: dimgrey;
}
.my-card-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
.my-card-item {
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 245px;
    height: 130px;
    color:dimgrey;
    font-weight: 500;
    border-radius: 5px;
    background-color: white;
    border:2px solid transparent;
}
.my-card-item:hover {
    cursor: pointer;
    border:2px solid blueviolet;
}
.my-card-item + .my-card-item {
    margin-top: 25px;
}
.item-number {
    margin: 0;
    padding: 0;
    margin-top: 15px;
}
.item-text {
    margin: 0;
    padding: 0;
    margin-top: 8px;
}
/*---my-balance-header--*/
.my-balance {
    justify-content: space-between;
    padding:25px;
    overflow: auto;
    width: 500px;
}
.my-balance-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
}
.balance-title {
    margin: 0;
    padding: 0;
    font-weight: 900;
    font-size: 25px;
}
.balance-number {
    margin: 0;
    padding: 0;
    font-size: 25px;
    font-weight: 900;
}

/*--my-balance-main-section--*/
.my-balance::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color:white;
}
.my-balance::-webkit-scrollbar {
    width: 8px;
}
.my-balance::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: dimgrey;
}